// Variables
/* are placeholders for storing information that you want to reuse throughout your styles. You can store things like colors font-stacks or any other css value you might want to reuse.
SCSS use the '$' to declare variables */

// Images

$image: transparent  url('../img/galaxy.jpg') no-repeat center top;

// Fonts

$font: 'Bangers', cursive;
$icon-font: 'assignment-1';

// Colours

$white: #fff;

// Icons

$icon-alien: '\e800';
$icon-alien-colour: rgba(37,118,84,1.00);

$icon-astronaut: '\e801';
$icon-astronaut-colour: rgba(182,178,251,1.00);

