// Main

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	font-family: $font;
	font-weight: 100;
	color: $white;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body{
	margin: 0;
}

.main{
	background: $image;
	text-align: center;
	display: block;
	margin: auto;
	padding: 2em 0;
	font-size: 3em;
}

h3 {
	font-size: .5em;
}

@font-face {
  font-family: $icon-font;
  src: url('../font/assignment-1.eot?91471204');
  src: url('../font/assignment-1.eot?91471204#iefix') format('embedded-opentype'),
       url('../font/assignment-1.woff?91471204') format('woff'),
       url('../font/assignment-1.ttf?91471204') format('truetype'),
       url('../font/assignment-1.svg?91471204#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "assignment-1";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
}

.icon-alien:before { content: '\e800'; color: rgba(37,118,84,1.00); } /* '' */
.icon-astronaut:before { content: '\e801'; color: rgba(182,178,251,1.00); } /* '' */
